In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
DATA_DIR_PATH = '/Users/cindywang/PycharmProjects/bpd-subtyping/data/'
VDATA_DIR_PATH = DATA_DIR_PATH + 'processed/vector/'
CDATA_DIR_PATH = DATA_DIR_PATH + 'processed/clusters/'
SDATA_DIR_PATH = DATA_DIR_PATH + 'processed/scores/'
FDATA_DIR_PATH = DATA_DIR_PATH + 'processed/full/'

In [5]:
d1_df = pd.read_csv(CDATA_DIR_PATH + 'new/' + 'tga_d1_c_df.csv')

In [8]:
d1_df['umap_KMeans'].value_counts()

1    15340
0     5503
2      912
Name: umap_KMeans, dtype: int64

       PatientSeqID  umap_KMeans
0           1134206            2
1           1134210            2
2           1134217            2
3           1134221            2
4           1134228            2
...             ...          ...
21750       6560783            0
21751       6560862            0
21752       6561029            1
21753       6561044            1
21754       6561064            0

[21755 rows x 2 columns]